@font-face {
    font-family: 'AlexBrush-Regular';
    /*src: url("../fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");*/
    src: url("../fonts/alex-brush/AlexBrush-Regular.ttf") format("wolf");
    font-display: swap;
}

#footer{
    background: no-repeat url(../img/bg-motif.jpg);
    background-position: center center;
    height: 30em;
}

#main{
    width: 80;
    margin: 0 auto;
    /*margin: 10px 50px 50px 10px;
    margin: 0 auto 0;*/
}

h1 { 
    color: #114471;
    text-align: center;
}

nav ul {
    width: 70%;
    margin: auto;
}

nav ul li { float: left;}